@CHARSET "UTF-8";

/****************************************
		taplet04
*****************************************/

.tb04-grid-col-inner {
	width: 47.9%;
	float: left;
	padding: 0 1%;
}

.tb04-grid-col-inner-full {
	width: 98%;
	padding: 0 1%;
}

.tb04-3rows {
	height: 8.2em;
	line-height: 8.2em;
}

.tb04-3rows .ui-btn {
	line-height: 5em;
	max-width:5em;
}

.tb04-3rows .ui-btn-inner {
	font-size: 1.5em;
	width: 100%;
	padding: 0 auto;
}

.tb04-grid-col-inner-wide {
	width: 84%;
	float: left;
	padding: 0 0 0 1%;
}

.tb04-grid-col-inner-narrow {
	width: 13%;
	float: left;
	padding: 0;
	height: 9em;
	line-height: 9em;
}

.tb04-grid-col-inner-4part1 {
	width: 38%;
	float: left;
	padding: .3em 1%;
}

.tb04-grid-col-inner-4part2 {
	width: 20%;
	float: left;
	padding: 0 1%;
}

.tb04-grid-col-inner-4part3 {
	width: 10%;
	float: left;
	padding: 0 1%;
}

.tb04-grid-col-inner-4part4 {
	width: 23.4%;
	float: left;
	padding: 0 1%;
}

.tb04-grid-col-inner-per25 {
	width: 22.8%;
	float: left;
	padding: 0 1%;
	text-align: left;
}

.tb04-navbar {
	float: left;
	width: 75%;
	height: 2em;
}

.tb04-no-lineheight {
	line-height: 0;
}

.tb04-tab-btn .ui-btn {
	margin: 0 0 .2em;
}

/****************************************
		Override Settings
*****************************************/
.ui-controlgroup.ui-mini, fieldset.ui-controlgroup.ui-mini {
	margin: 0 0 0 .5em;
	text-align: left;
}

.ui-controlgroup .ui-controlgroup-controls {
	width: 48%;
	text-align: left;
}

.ui-controlgroup .ui-radio {
	width: 50%;
}

.tb04-clean-type .ui-controlgroup .ui-controlgroup-controls {
	width: 100%;
	text-align: left;
}

.tb04-clean-type .ui-controlgroup .ui-radio {
	width: 16.5%;
}

.tb04-grid-col-inner-mix div.ui-input-text {
	float: left;
	width: 50%;
}