@CHARSET "UTF-8";

/****************************************
		taplet05
*****************************************/
.tb05-gridArea{
	padding: .5em 0em;
}

.tb05-searchStep{
	height: 2em;
	width: 96%;
	float: left;
	padding-bottom: 1em;
	margin: 0 2%;
}

.tb05-cellInnerSet {
	width: 100%;
	height: 6em;
	border: 1pt solid #000000;
	border-radius: .5em;
	background: -webkit-gradient(linear,0 40%,0 100%,from(#f2f2f2),to(#CFCFCF),color-stop(0.9,#CFCFCF));
}

.tb05-makerHeader {
	width: 100%;
	margin-bottom: 1em;
	border: 0pt solid #000000;
	float: left;
	min-height: 1px;
	box-sizing: border-box;
	height: 2em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.tb05-heightSet {
	height: 2em;
}

.tb05-colorRed {
	height: 2em;
	color: red;
}

.tb05-cellSet {
	width: 33.3%;
	height: 6em;
	border: 0pt solid rgba(255, 255, 255, 0);
	border-radius: 0em;
	background: rgba(255, 255, 255, 0);
	padding: .1em;
	padding-bottom: 6.1em;
}

.tb05-buttonMaker{
	float:left;
	background: orange;
}

.tb05-searchStep .tb05-buttonSearch{
	float:right;
	max-width:160px;
	background: -webkit-gradient(linear,0 40%,0 100%,from(#00FF66),to(#CCFFCC),color-stop(0.9,#CCFFCC));
}
