@CHARSET "UTF-8";

/****************************************
		taplet06
*****************************************/

.tb08-gc1 {
	width:7%;
}

.tb08-gc2 {
	width:19%;
}

.tb08-gc3 {
	width: 20%;
}

.tb08-line-height {
	line-height:1.5em;
}

.tb08-align-l {
	text-align: left;
	padding-left:1%;
}

.tb08-grid-cell-r {
	float:left;
	background: #fff;
	width: 45%;
	overflow: hidden;
}

.tb08-grid-cell-r1 {
	float:left;
	background: #fff;
	width: 10%;
	overflow: hidden;
}

.tb08-grid-cell-r2 {
	float:left;
	background: #fff;
	width: 34%;
	overflow: hidden;
	margin-top:0.5em;
}

.tb08-grid-cell-r3 {
	float:left;
	background: #fff;
	width: 28%;
	overflow: hidden;
	margin-top:0.8em;
}

.tb08-grid-cell-noborder1 {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 6em;
	line-height: 6em;
	font-size:1em;
	vertical-align: middle;
	text-align: left;
	border: 0;
	font-weight: normal;
	padding:0 1em;
}

.tb08-align-center {
	text-align: center;
}

.tb08-padding-lr {
	padding: 0 2%;
}

.tb08-grid-cell-carno1 {
	padding-left: 10%;
	width: 24%;
	float: left;
}

.tb08-grid-cell-carno2 {
	padding-left: .5em;
	width: 15%;
	float: left;
}

.tb08-grid-cell-carno3 {
	padding-left: .5em;
	width: 10%;
	float: left;
}

.tb08-color-red {
	color: red;
}

/****************************************
		Override common
*****************************************/
.cmn-grid-cell-noborder{
	height: 3em;
	line-height: 3em;
	padding:0 1em;
	text-align: left;
}
