@CHARSET "UTF-8";

/****************************************
		taplet10
*****************************************/

.tb10-gc {
	width:12%;
}

.tb10-gc1 {
	width:22%;
}

.tb10-gc2 {
	width:100%;
}


.tb10-grid-col-inner {
	width: 47.9%;
	float: left;
	padding: 0 1%;
}

.tb10-grid-col-inner-full {
	width: 98%;
	padding: 0 1%;
}

.tb10-3rows {
	height: 8.2em;
	line-height: 8.2em;
}

.tb10-3rows .ui-btn {
	line-height: 5em;
	max-width:5em;
}

.tb10-3rows .ui-btn-inner {
	font-size: 1.5em;
	width: 100%;
	padding: 0 auto;
}

.tb10-grid-col-inner-wide {
	width: 60%;
	float: left;
	padding: 0 0 0 1%;
}

.tb10-grid-col-inner-narrow {
	width: 13%;
	float: left;
	padding: 0;
	height: 9em;
	line-height: 9em;
}

.tb10-grid-col-inner-4part1 {
	width: 38%;
	float: left;
	padding: .3em 1%;
}

.tb10-grid-col-inner-4part2 {
	width: 20%;
	float: left;
	padding: 0 1%;
}

.tb10-grid-col-inner-4part3 {
	width: 10%;
	float: left;
	padding: 0 1%;
}

.tb10-grid-col-inner-4part4 {
	width: 23.4%;
	float: left;
	padding: 0 1%;
}

.tb10-grid-col-inner-per25 {
	width: 22.8%;
	float: left;
	padding: 0 1%;
	text-align: left;
}

.tb10-navbar {
	float: left;
	width: 75%;
}

.tb10-navbar1 {
	float: left;
	width: 50%;
}

.tb10-no-lineheight {
	line-height: 0;
}

.tb10-tab-btn .ui-btn {
	margin: 0 0 .2em;
}


.tb10-area-info {
	line-height:1.5em;
	overflow: hidden;
	white-space:nowrap;
}

.tb10-grid-style {
	float: left;
	width: 49%;
}

.tb10-grid-margin {
	margin-left: 2%;
}

.tb10-area {
	background-color: #fff;
	border: 1px #999 solid;
	border-radius: .5em;
	padding: .5em 1em;
	width: 180%
}

.tb10-area1 {
	background-color: #fff;
	border: 1px #999 solid;
	border-radius: .5em;
	padding: .5em 1em;
	width: 90%
}

.tb10-grid-cell {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 12em;
	line-height: 12em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #bbb;
	font-weight: bold;
}

.tb10-grid-cell1 {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 6em;
	line-height: 6em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #bbb;
	border-top-style:none;
	font-weight: bold;
}

.tb10-grid-cell1-noborder {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 3em;
	line-height: 3em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.tb10-area-info1 {
	height:12em;
	width:100%;
	overflow:hidden;
}


/****************************************
		Override common
*****************************************/

.cmn-area {
	padding: 1% 1%;
}

/****************************************
		Override Settings
*****************************************/
.ui-controlgroup.ui-mini, fieldset.ui-controlgroup.ui-mini {
	margin: 0 0 0 .5em;
	text-align: left;
}

.ui-controlgroup .ui-controlgroup-controls {
	width: 48%;
	text-align: left;
}

.ui-controlgroup .ui-radio {
	width: 50%;
}

.tb10-clean-type .ui-controlgroup .ui-controlgroup-controls {
	width: 100%;
	text-align: left;
}

.tb10-clean-type .ui-controlgroup .ui-radio {
	width: 16.5%;
}

.tb10-grid-col-inner-mix div.ui-input-text {
	float: left;
	width: 50%;
}

.ui-checkbox input {
	position:relative;
	left:0;
}