@CHARSET "UTF-8";

/****************************************
		taplet12
*****************************************/
.tb12-top-row1 {
	width: 100%;
	height: 2.5em;
	padding: .25em 0 0;
}

.tb12-top-row2 {
	width: 100%;
	height: 2.5em;
	padding: .25em 0;
}

.tb12-top-gc1 {
	width: 20%;
	text-align: left;
	overflow: hidden;
}

.tb12-top-gc2 {
	width: 20%;
	text-align: left;
	overflow: hidden;
}

.tb12-top-gc3 {
	width: 20%;
	text-align: left;
	overflow: hidden;
}

.tb12-top-gc4 {
	width: 40%;
	text-align: right;
	overflow: hidden;
}

.tb12-top-gc4 p .ui-btn {
	width: 100%;
	margin: 0 0 .25em;
	line-height: 1em;
}

.tb12-top-gc5 {
	width: 20%;
	text-align: left;
	overflow: hidden;
}

.tb12-top-gc6 {
	width: 30%;
	text-align: left;
	overflow: hidden;
}

.tb12-top-gc6>div {
	max-width: 200px;
	margin:0;
}

.tb12-top-gc7 {
	width: 30%;
	overflow: hidden;
}

.tb12-top-gc7>div {
	float: right;
	text-align: right;
}

.tb12-distance {
	width: 30%;
	max-width: 120px;
}

.tb12-top-gc8 {
	width: 20%;
	text-align: right;
	overflow: hidden;
}

.tb12-top-gc8 p .ui-btn {
	width: 100%;
	margin: 0;
	line-height: 1em;
}


.tb12-navbar {
	width: 75%;
	text-align: left;
}

.tb12-detail-top {
	width: 100%;
	height: 2.5em;
	padding: .25em 0 0;
}

.tb12-detail-top-gc1 {
	width: 50%;
	text-align: left;
	overflow: hidden;
}

.tb12-detail-top-gc2 {
	width: 15%;
	text-align: left;
	overflow: hidden;
}

.tb12-detail-top-gc3 {
	width: 15%;
	text-align: left;
	overflow: hidden;
}

.tb12-detail-top-gc4 {
	width: 20%;
	text-align: right;
	overflow: hidden;
}

.tb12-detail-top-gc4 p .ui-btn {
	width: 100%;
	margin: 0 0 .25em;
	line-height: 1em;
}

#popupAnnai {
	width: 30em;
	min-height: 28em;
}

#popupAnnai div.cmn-grid-cell-noborder {
	width: 100%;
}

#popupAnnai .tb12-popup-cell1 {
	width: 30%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell2 {
	width: 60%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell3 {
	width: 10%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell4 {
	width: 20%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell5 {
	width: 15%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell6 {
	width: 10%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell7 {
	width: 15%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell8 {
	width: 100%;
	float: left;
	text-align: left;
	overflow: hidden;
}

#popupAnnai .tb12-popup-cell9 {
	width: 40%;
	float: left;
	text-align: right;
	overflow: hidden;
	margin-top: 2em;
}

#popupAnnai .tb12-popup-cell10 {
	width: 60%;
	float: left;
	text-align: left;
	overflow: hidden;
	margin-top: 2em;
}

#popupAnnai textarea {
	height: 4.5em;
	margin-bottom: 3em;
}

#popupAnnai .tb12-popup-btn-area {
	width: 60%;
	margin-left: 40%;
	float: left;
}

#popupAnnai .tb12-popup-btn-area .ui-btn {
	width: 45%;
	margin-top: 2.5em;
	margin-left: 2.5%;
	float: left;
}

#popupCalculator .cmn-readonly {
	text-align: right;
	background-color: #aaa;
	color: #fff;
	font-size: 1.2em;
}

#popupCalculator .ui-btn {
	min-width: 0;
}

.tb12-cal-row {
	height: 3em;
	width: 12em;
}

.tb12-cal-row .ui-btn{
	width: 22%;
	font-size: .5em;
}

/****************************************
		Override Settings
*****************************************/

