@CHARSET "UTF-8";

/****************************************
		taplet13
*****************************************/

.tb13-button-list{
	width:100%;
}

.tb13-buttons{
	float:left;
	overflow:hidden;
	width:80%;
	max-width:700px;
	white-space: nowrap;
	position:absolute;
	left:5%;
}

#left{
	z-index:100;
}

#right{
	float:right;
}

.tb13-condition-ul li{
	float:left;  
	min-width:10%;
}
.tb13-condition-ul li:first-child{
	width:80%;
	max-width:850px;
}

.tb13-condition-bar{
	padding:.8em 0;
}

.tb13-customer-infor{
	margin:-0.25em 0 0 1%;
	padding:.2em 1em ;
	width:25%;
	text-align:left;
	white-space: nowrap;
}

.tb13-customer-infor div{
	width:100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tb13-label-01{
	float:left;
	padding:.5em 0;
	margin-left:1em;
	white-space: nowrap;
	width: 14%;
}

.tb13-ad{
	width:50%;
	text-align:right;
	padding: 0 0 .5em 0;
	margin:-1em 2% 0 2% ;
}

.tb13-wash-type{
	width:55%;
	text-align:left;
	padding:.3em 0;
	margin: 0 1%;
}

.red{
	color:red;
}

.gray{
	color:gray;
}

.tb13-wash-cost{
	margin:-2.35em 1% 0 0;
	padding:2em 1%;
	float:right;
}

.tb13-thumb{
	width:3%;
	float:left;
	vertical-align:middle;
	text-align:center;
	line-height:2em;
	margin-right:1%;
}

.tb13-thumb img{
	width: auto;
	max-height: 40px;
	vertical-align:middle;
}

.tb13-thumb>div{
	width:40px;
	height:40px;
}

.tb13-gc01,.tb13-gc02{
	width:15%;
	text-align:left;
	word-break :break-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tb13-gc02{
	width:25.5%;
	line-height:1.2em;
}

.tb13-gc3,.tb13-normal-price,.tb13-vip-price{
	width:7%;
	margin:0 1.5%;
}

.tb13-list .tb13-detail-li{
	width:98%;
	margin-left:2%;
	
}
.tb13-scroll{
	position:absolute;
	width:100%;
	background: url('../images/bodybg_black.png') repeat;
}

/****************************************
		Override common
*****************************************/

.tb13-condition-bar .cmn-grid-cell{
	line-height:1.5em;
	height:auto;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	background: #FFF;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}

.cmn-list-title{
	width:10%;
}

.cmn-list-title:first-child{
	width:80%;
}

.cmn-grid{
	margin-bottom:1em;
}

/****************************************
		Override Jquery Mobile
*****************************************/

.ui-header>.ui-btn.tb13-button2{
	float:left;
	position:relative;
}

.tb13-button-list [data-iconpos]{
	float:left;
	width:3em;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls{
	display: inherit;
}

.ui-radio{
	line-height:1em;
	width:13%;
}

.ui-controlgroup, fieldset.ui-controlgroup{
	padding:0;
	margin:0;
}

[data-role="button"]{
	padding:0.3em 0;
}

[data-role="list-divider"]{
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

.ui-listview>.ui-li.ui-first-child{
	border-top-right-radius: inherit;
}

.tb13-detail-li .ui-icon-arrow-r{
	display:none;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit{
	padding-right:0px;
}
