@CHARSET "UTF-8";

/****************************************
		taplet15_2
*****************************************/
.tb15_2-gridArea{
	padding: .5em 0em;
	margin-bottom: .5em;
}

.tb15_2-searchStep{
	height: 2em;
	width: 96%;
	float: left;
	padding-bottom: 1em;
	margin: 0 2%;
}

.tb15_2-carInfoText{
	text-align: left;
	width:15em;
	font-weight:bold;
	padding-top: 0.2em;
}

.tb15_2-carInfoGrid{
	margin: 0 .5%;
}

.tb15_2-tireRecommendInfo{
	height: 2em;
	width: 98%;
	float: left;
	margin: 0 1%;
	text-align: left;
	font-weight:bold;
}

.tb15_2-descriptionLink{
	font-size: .8em;
	text-decoration : underline;
}

.tb15_2-gridColYear {
	width:50%;
}

.tb15_2-gridColModel {
	width:25%;
}

.tb15_2-gridColEngine {
	width:25%;
}
.tb15_2-gridColGrade {
	width:100%;
}

.tb15_2-gridColSize{
	width:35%;
}

.tb15_2-gridColNote{
	width:65%;
}

.tb15_2-buttonArea{
	height: 2em;
	width: 96%;
	float: left;
	margin: 15% 5% 2% 2%;
}

.tb15_2-buttonChange{
	float:right;
	background: -webkit-gradient(linear,0 40%,0 100%,from(#00FF66),to(#CCFFCC),color-stop(0.9,#CCFFCC));
}

.tb15_2-buttonArea .tb15_2-buttonChangeSet{
    margin-right:1em;
}

.tb15_2-buttonSearch{
	float:right;
	background: -webkit-gradient(linear,0 10%,0 100%,from(#0646FF),to(#4DBEFF),color-stop(0.9,#4DBEFF));
}

.tb15_2-buttonDescription{
	float:left;
	background: -webkit-gradient(linear,0 10%,0 100%,from(#E0AE31),to(#FCFF51),color-stop(0.9,#FCFF51));
}

.tb15_2-gc1{
	text-align: left;
	padding-left: .5em;
	padding-right: .5em;
}

.tb15_2-gc2{
	text-align: left;
	padding-left: .5em;
	border: 0px solid #bbb;
	width:65%;
}

.tb15_2-gc3{
	text-align: right;
	padding-right: .5em;
	border: 0px solid #bbb;
	width:35%;
	font-size: .8em;
}

#tb15_2RecommendInfoListData a {
	text-decoration : underline;
}

.tb15_2-area-btn-down {
	text-align: right;
	margin: 8.5em 0% .5% .5%;
	width:99%;
}

.tb15_2-area-btn-down .ui-checkbox {
	width: 35%;
}