@CHARSET "UTF-8";

/****************************************
		taplet17
*****************************************/
.tb17-gridArea{
	padding: .5em 0em 0em 0em;
	border-bottom-left-radius: .0em;
	border-bottom-right-radius: .0em;
}

.tb17-searchStep{
	height: 2em;
	width: 96%;
	float: left;
	padding-bottom: 1em;
	margin: 0 2%;
}

.tb17-searchNavbar{
	margin-left: .2em;
	margin-bottom: .1em;
}

.tb17-makerHeader {
	width: 100%;
	margin-bottom: 1em;
	border: 0pt solid #000000;
	float: left;
	min-height: 1px;
	box-sizing: border-box;
	height: 2em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.tb17-buttonCmn{
	float:left;
}

.tb17-buttonActive{
	float:left;
	background: orange;
}

.tb17-searchStep .tb17-buttonSearch{
	float:right;
	max-width:160px;
	background: -webkit-gradient(linear,0 40%,0 100%,from(#00FF66),to(#CCFFCC),color-stop(0.9,#CCFFCC));
}

/****************************************
		Override Jquery Mobile
*****************************************/
.ui-grid-a>:nth-child(n),.ui-grid-d>:nth-child(n) {
	width: 9.1%;
	clear: none;
	margin-bottom: .1em;
}

.ui-corner-all {
	border-radius: 0em;
}