@CHARSET "UTF-8";

/****************************************
		taplet18
*****************************************/
.tb18-gridArea{
	padding: .5em 0em 0em 0em;
	border-bottom-left-radius: .0em;
	border-bottom-right-radius: .0em;
}

.tb18-searchStep{
	height: 2em;
	width: 96%;
	float: left;
	padding-bottom: 1em;
	margin: 0 2%;
}

.tb18-searchNavbar{
	margin-left: .2em;
	margin-bottom: .1em;
}

.tb18-makerHeader {
	width: 100%;
	margin-bottom: 1em;
	border: 0pt solid #000000;
	float: left;
	min-height: 1px;
	box-sizing: border-box;
	height: 2em;
	font-size:1em;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.tb18-gridCol1 {
	width:20%;
}

.tb18-gridCol2 {
	width:33%;
}

.tb18-gridCol3 {
	width:17%;
}
.tb18-gridCol4 {
	width:17%;
}

.tb18-gridCol5 {
	width:13%;
}

.tb18-buttonCmn{
	float:left;
}

.tb18-buttonActive{
	float:left;
	background: orange;
}

.tb18-searchStep .tb18-buttonSearch{
	float:right;
	max-width:160px;
	background: -webkit-gradient(linear,0 40%,0 100%,from(#00FF66),to(#CCFFCC),color-stop(0.9,#CCFFCC));
}