@CHARSET "UTF-8";

/****************************************
		taplet20
*****************************************/
.tb20-condition-ul{
	margin-left:1em;
	min-width:50%;
	max-width:600px;
}

.tb20-condition-ul li{
	float:left;  
	min-width:30%;
}

.tb20-width{
	min-width:50%;
	max-width: none;
}

.tb20-width li{
	min-width:250px;
}

.tb20-width li:last-child{
	min-width:15%;
	width: 15%;
}

.tb20-label-01{
	float:left;
	padding:.5em 0;
	margin-left:1em;
}

.tb20-label-02{
	float:left;
	padding:.5em 0;
	max-width:100px;
	white-space: nowrap;
}

.tb20-condition-bar{
	padding:.5em 0;
}

.tb20-sort{
	text-align:right;
}

.tb20-sort .ui-select{
	float:none;
}

.tb20-thumb{
	width:10%;
	float:left;
	vertical-align:middle;
	text-align:center;
	line-height:150px;
}

.tb20-thumb img{
	width:100%;
	vertical-align:middle;
}

.tb20-thumb-info{
	float:left;
	width:80%;
}

.tb20-float-l{
	float:left;
	width: 40%;
}

.tb20-detail-r{
	margin:4.3em 0 0  50%;
}


/****************************************
		Override common
*****************************************/





/****************************************
		Override Jquery Mobile
*****************************************/

.ui-field-contain{
	width:30%;
}

li .ui-field-contain{
	width:100%;
}

.ui-field-contain .ui-select{
	width:60%;
}

.ui-select{
	float:left;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
	padding-left: 0px;
}

.ui-li-desc,.ui-li-heading{
	line-height:1.5em;
	font-size:1em;
	padding-left: 5%;
}

.ui-checkbox{
	width:15%;
	min-width:220px;
	margin-left:1em;
}

.ui-btn-text{
	white-space: nowrap;
}

