@CHARSET "UTF-8";

/****************************************
		taplet21_2
*****************************************/
.tb21_2-oilImgArea{
	float: left;
	height: 40em;
	width: 35%;
	border: 0px
}

.tb21_2-oilImgInfo{
	height: 55%;
	margin: 6% 5% 0em 5%;
	border-radius: 0em 0em 0em 0em;
	text-align: center;
}

.tb21_2-oilImgInfoDetail{
	height: 40%;
	margin: 1% 5% 0em 5%;
	border-radius: 0em 0em 0em 0em;
	text-align: center;
	padding: 0em 0em 0em 0em;
	border: 0px;
}

.tb21_2-oilImgCellText{
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	width: 50%;
}

.tb21_2-oilImgCellDetailText{
	text-align: left;
	padding-left: .5em;
	padding-right: .5em;
}

.tb21_2-oilImgCellright{
	width: 50%;
	font-weight: bold;
	text-align: left;
	background: transparent;
}

.tb21_2-oilInfoArea{
	float: left;
	height: 40em;
	width: 60%;
	border: 0px;
}

.tb21_2-oilInfoDetailArea{
	height: 75%;
	margin: 1em 0em 0em 0em;
	border-radius: 0em 0em 0em 0em;
	text-align: center;
	padding: 0em 0.1em 0em 0em;
	border: 0px;
}

.tb21_2-oilInfoDetailAreaText{
	text-align: left;
	padding: .5em .5em .5em .5em;
}

.tb21_2-oilInfoGridArea{
	margin: 0em 0em .5em 0em;
	border-radius: 0em 0em 0em 0em;
	text-align: center;
	padding: 0em 0.1em 0em 0em;
	border: 0px;
}

.tb21_2-oilInfoText{
	height: 10%;
	padding: 0em 10% 0em .5em;
	width: 100%;
	font-weight: bold;
	text-align: left;
	font-size: 1.5em;
}

.tb21_2-oilInfoCellText{
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
}

.tb21_2-oilInfoTextArea{
	overflow: auto;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
	width: 99.9%;
	height: 10em;
	min-height: 10em;
	font-weight: bold;
}

.tb21_2-oilInfoTextSubright{
	width: 25%;
	font-weight: bold;
	text-align: left;
	background: transparent;
}

.tb21_2-oilInfoTextAllright{
	width: 75%;
	font-weight: bold;
	text-align: left;
	background: transparent;
}

.tb21_2-buttonSearch{
	float:right;
	background: -webkit-gradient(linear,0 10%,0 100%,from(#0646FF),to(#4DBEFF),color-stop(0.9,#4DBEFF));
}

.tb21_2-buttonDescription{
	float:left;
	background: -webkit-gradient(linear,0 10%,0 100%,from(#E0AE31),to(#FCFF51),color-stop(0.9,#FCFF51));
}

.tb21_2-buttonArea{
	border-radius: 0em 0em 0em 0em;
	border: 0px
}