@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
@{#if DEBUG}
    <h2>Exception details</h2>
        <p>
	        Controller: @Model.ControllerName <br>
	        Action: @Model.ActionName <br>
	        Exception: <br>
            @Model.Exception
        </p>
@{#else}
@{#endif} 
</body>
</html>