@CHARSET "UTF-8";

/****************************************
		smartphone02
*****************************************/
.sp02-gc1 {
	width: 90%;
	text-align: center;
	overflow: hidden;
	height:3em;
	line-height:1.5em; 
}

.sp02-gc2 {	
	padding-left: 0.4em;
}
.sp02-gc3 {	
	padding-top: 3em;
	text-align: center;
}
.sp02-gc4 {	
	text-align: center;
	padding-top: 0.3em;
}
.sp02-gc5 {	
	padding-top: 0.5em;
	text-align: center;

}
.sp02-gc6 {
	width: 50%;
	text-align: center;
	height:3em;
	overflow: hidden;
	line-height:1.5em; 
}
.sp02-gc7 {
	padding-left: 3em;
}
.sp02-gc8 {
	padding-top: 1.5em;
}
.sp02-gc9 {
	font-size:32px;
    color: #9F5000;
}
.sp02-gc10 {
	background-color:#D26900;
}
.sp02-gc11 {
	width: 70%;
	text-align: center;
	overflow: hidden;
	height:1.8em;
	line-height:0.75em; 
}
.sp02-gc12 {
	border: 0px solid;
	width:30%;
	text-align: center;
	float:right;
	height:1em;
	padding-top:-10em;
}
.sp02-gc13 {
	position:absolute;
	left:67%;
  	top:19.6em;
}
.sp02-gc14 {
	position:relative;
}
.sp02-gc15 {
	color: #FF0000;
}
/****************************************
		Override Settings
*****************************************/

.cmn-grid-cell-l {
    background: #444;
    width: 25%;
}

.cmn-grid-cell-l {
    background: #444;
    width: 25%;
}

.ui-controlgroup .ui-controlgroup-controls {
	width: 80%;
	text-align: left;
}

.ui-controlgroup .ui-radio {
	width: 50%;
}

#popupMemo .ui-controlgroup, #popupMemo fieldset.ui-controlgroup {
	margin: 0;
	width: 100%;
	text-align: right;
}

#popupMemo .ui-controlgroup .ui-radio {
	width: 33%;
	line-height: 1.2em;
	font-size: .6em;
}

#popupMemo .ui-select .ui-btn-icon-right .ui-btn-inner, #popupMemo .ui-select .ui-li-has-count .ui-btn-inner {
	padding-right: 0;
	font-size: .8em;
}

#popupMemo .ui-select .ui-btn-icon-right .ui-btn-inner .ui-icon, #popupMemo .ui-select .ui-li-has-count .ui-btn-inner .ui-icon {
	width: 0;
}

.sp06-gc7 .cmn-readonly {
	min-height: 2.8em;
	max-height: 2.8em;
	margin: .4em 0 .4em 2%;
	padding: .2em 1%;
}