@CHARSET "UTF-8";

/****************************************
		smartphone07
*****************************************/

#area-customer {
	background-color: #fff;
	margin-top: 1.3em;
}
.sp07-detail-area{
	padding:1em;
	border: 1px solid #BBB;
	margin: 1em 0;
}
.sp07-gc2 {
	width:20%;
}
.sp07-gc1 {
	width:15%;
}
.sp07-gc3 {
	width:65%;
	white-space:nowrap;
}
.sp07-grid-cell {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 3em;
	font-size:1em;
	vertical-align: middle;
	text-align: left;
	border: 1px solid #bbb;
	font-weight: bold;
}
.sp07-gc4 {
	height:50%;
	width:100%;
	margin-top: 0.15em;
    line-height: 100%;
	overflow: hidden;
}
.sp07-gc5 {
	float:left;
	width:25%;
	padding-left:0.2em;
	font-size: 0.9em;
}
.sp07-gc6 {
	float:left;
	width:20%;
}
.sp07-gc7 {
	float:left;
	width:10%;
}
.sp07-gc8 {
	float:left;
	text-align: left;
}
/****************************************
		Override common
*****************************************/

.cmn-grid-cell-noborder{
	height:3em;
}

.tb03-navbar {
	height: 1.5em;
}

/****************************************
		Override Jquery Mobile
*****************************************/

.tb03-search .ui-btn-inner{
	padding :0;
}

.tb03-search .ui-btn{
	margin-left:1em;
	margin-top:.2em;
}

.ui-grid-c>:nth-child(n) {
	width:20%;
}

.ui-grid-a>:nth-child(n),.ui-grid-d>:nth-child(n) {
	width:10%;
	clear: none;
	margin-top: .5em;
	margin-bottom: .5em;
}

.ui-grid-d>:nth-child(n){
	width:20%;
}